.container-fluid {
	padding: 0 0;
}

.navbar.navbar-default {
	margin-bottom: 0px;
}

img{
 width:auto;
 height:auto;
 max-width:100%;
 max-height:100%;
}

.video {
	overflow: hidden;
    position: relative;
    background-image: url(../images/body_bg_logon.png);
    background-size: cover;
    background-position: 50%;
}

table{
	margin-top: 20px;
}