{% extends "base1.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}故障记录{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'faultreport.css')}}">
{% endblock %}

{% block page_content %}
<!-- Modal -->
<div class="modal bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document" style="height: 80%">
    <div class="modal-content" style="height: 100%;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">故障时段传感器读数详情</h4>
      </div>
      <div class="modal-body">
      	<div id="picture1" style="min-height: 500px;"></div>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
      </div> -->
    </div>
  </div>
</div>


<div class="page-header">
	<h1>棉机称重系统运行记录</h1>
	{% if current_user.role > 1 %}
		{{ wtf.quick_form(form, form_type="inline") }}
	{% endif %}
</div>
<div class="col-md-12 col-sm-12">
	<div class="table-responsive" style="height: 300px;">
		<table class="table table-bordered table-hover">
			<thead>
				<td><strong>序号</strong></td>
				<td><strong>故障开始时间</strong></td>
				<td><strong>故障结束时间</strong></td>
				<td><strong>故障持续时间</strong></td>
				<td><strong>故障原因</strong></td>
				<td><strong>故障状态</strong></td>
				<!--
				<td><strong>故障开始时累积量读数</strong></td>
				<td><strong>故障结束时累积量读数</strong></td>
				<td><strong>故障开始时累积量(拟值)读数</strong></td>
				<td><strong>故障结束时累积量(拟值)读数</strong></td>
				-->
			</thead>
			{% for i in range(Num) %}
				{% if dic['fault_level'][i] == 2 %}
				<tr class="danger">
					<td>{{ dic['id'][i] }}</td>
					<td>{{ dic['fault_time'][i] }}</td>
					<td>{{ dic['recover_time'][i] }}</td>
					<td>{{ dic['period_second'][i] }}</td>
					<td style="color: red;">{{ dic['fault_reason'][i] }}</td>
					{% if dic['fault_state'][i] == '未修复' %}
					<td style="color: red;"><strong>{{ dic['fault_state'][i] }}</strong></td>
					{% else %}
					<td style="color: green;"><strong>{{ dic['fault_state'][i] }}</strong></td>
					{% endif %}
				</tr>
				{% else %}
				<tr class="warning">
					<td>{{ dic['id'][i] }}</td>
					<td>{{ dic['fault_time'][i] }}</td>
					<td>{{ dic['recover_time'][i] }}</td>
					<td>{{ dic['period_second'][i] }}</td>
					<td style="color: orange;">{{ dic['fault_reason'][i] }}</td>
					{% if dic['fault_state'][i] == '未修复' %}
					<td style="color: red;"><strong>{{ dic['fault_state'][i] }}</strong></td>
					{% else %}
					<td style="color: green;"><strong>{{ dic['fault_state'][i] }}</strong></td>
					{% endif %}
				</tr>
				{% endif %}
			{% endfor %}
		</table>
	</div>
	
  
	<!-- <div class="padding jumbotron">
		<div class="container-fluid">
	      <h2 id="state" >设备运行状态</h2>
	      <div class="col-md-6 col-sm-6" id="picture1" style="min-height: 250px;"></div>
	      <div class="col-md-6 col-sm-6" id="picture2" style="min-height: 250px;"></div> 
	      <div class="col-md-6 col-sm-6" id="picture3" style="min-height: 250px;"></div>
	      <div class="col-md-6 col-sm-6" id="picture4" style="min-height: 250px;"></div>
		</div>
	</div> -->
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
<script type=text/javascript src="{{ url_for('static', filename='echarts.common.min.js') }}"></script>
<script type=text/javascript src="{{ url_for('static', filename='engineer/faultreport.js') }}"></script> 

{% endblock %}